body {
  background: #1a1a1a;
}
.home {
  color: white;
}
.home h1{
  font-size: 24px;
  text-align: center;
}
.home_logo{
  width:55%;
  margin: 10% 0% 16% 11%;
}
.name{
  margin: 30% 0% 0% 0%;

}
.home_img_breakfast, .home_img_lunch { 
  width: 90%;
  margin: 2%;
}