.home {
  background-color: #1a1a1a;
  color: white;
}
.home h1{
  font-size: 24px;
  text-align: center;
}
.home_logo{
  width:25%;
  margin: 2%;
}
.home_img_breakfast, .home_img_lunch { 
  width: 40%;
  margin: 2%;
}